<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">
  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Gwt.html</welcome-file>
  </welcome-file-list>
  
   <servlet>
    <servlet-name>jsonSermonData</servlet-name>
    <servlet-class>com.gwt.server.JsonSermonData</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>jsonSermonData</servlet-name>
    <url-pattern>/gwt/sermones</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>SubmitSermonServiceImpl</servlet-name>
    <servlet-class>com.gwt.server.SubmitSermonServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SubmitSermonServiceImpl</servlet-name>
    <url-pattern>/gwt/SubmitSermon</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>DeleteSermonServiceImpl</servlet-name>
    <servlet-class>com.gwt.server.DeleteSermonServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>DeleteSermonServiceImpl</servlet-name>
    <url-pattern>/gwt/DeleteSermon</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>UpdateSermonServiceImpl</servlet-name>
    <servlet-class>com.gwt.server.UpdateSermonServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>UpdateSermonServiceImpl</servlet-name>
    <url-pattern>/gwt/UpdateSermon</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>jsonHimnoData</servlet-name>
    <servlet-class>com.gwt.server.JsonHimnoData</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>jsonHimnoData</servlet-name>
    <url-pattern>/gwt/himnos</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>DeleteHimnoServiceImpl</servlet-name>
    <servlet-class>com.gwt.server.DeleteHimnoServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>DeleteHimnoServiceImpl</servlet-name>
    <url-pattern>/gwt/DeleteHimno</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SubmitHimnoServiceImpl</servlet-name>
    <servlet-class>com.gwt.server.SubmitHimnoServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>SubmitHimnoServiceImpl</servlet-name>
    <url-pattern>/gwt/SubmitHimno</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <servlet-name>UpdateHimnoServiceImpl</servlet-name>
    <servlet-class>com.gwt.server.UpdateHimnoServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>UpdateHimnoServiceImpl</servlet-name>
    <url-pattern>/gwt/UpdateHimno</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>UploadDropboxServiceImpl</servlet-name>
    <servlet-class>com.gwt.server.UploadDropboxServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>UploadDropboxServiceImpl</servlet-name>
    <url-pattern>/gwt/UploadDropbox</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>LoginServiceImpl</servlet-name>
    <servlet-class>com.gwt.server.LoginServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>LoginServiceImpl</servlet-name>
    <url-pattern>/gwt/Login</url-pattern>
  </servlet-mapping>
  
  
  
  
  
  
  
  
  
  
  <context-param>
    <!-- max size of the upload request -->
    <param-name>maxSize</param-name>
    <param-value>70145728</param-value>
  </context-param>
  <context-param>
    <!-- Useful in development mode to slow down the uploads in fast networks.
         Put the number of milliseconds to sleep in each block received in the server.
         false or 0, means don't use slow uploads  -->
    <param-name>slowUploads</param-name>
    <param-value>200</param-value>
  </context-param>

  <servlet>
    <servlet-name>uploadServlet</servlet-name>
    <!-- This is the default servlet, it puts files in session -->
    <servlet-class>com.gwt.server.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadServlet</servlet-name>
    <url-pattern>*.gupld</url-pattern>
  </servlet-mapping>
  
  
  
  
</web-app>
